################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VBSRobot/VBSRobot/obj
/VBSRobot/VBSRobot/bin/ARM/Debug
/VBSRobot/VBSRobot/project.lock.json
/VBSRobot/VBSRobot/VBSRobot.csproj.user
/.vs
/VBSRobot/.vs
/VBSRobot/VBSRobot/bin
/VBSRobot/VBSRobot_GUI
/Sunfounder/.vs
/Sunfounder/Lesson 1/bin
/Sunfounder/Lesson 1/obj
/Sunfounder/Lesson 2/bin
/Sunfounder/Lesson 2/obj
*.user
/Sunfounder/Lesson3/obj
/Sunfounder/Lesson3/bin
/Sunfounder/Lesson4/bin/ARM/Debug
/Sunfounder/Lesson4/obj
